@charset "UTF-8";

h1 {
	width: 300px;
	margin: 30px auto 30px;
}


#calendar {
	width: 80%;
	margin: 0 auto;
}

#login {
	width: 300px;
	margin: 30px auto 0px;
}

#cookie_practice1 {
	width: 300px;
	margin: 30px auto 0px;
}